body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
  padding: 15px;
}

.card {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.img {
  position: relative;
}

.icon {
  position: absolute;
  left: 273px;
  top: 23px;
  background-color:white;
  border: 0.5px solid #9d9d9d;
  padding: 3px 5px;
  border-radius: 50%;
}

.overview {
  font-size: 14px;
  color: grey;
}

.previousPrice {
  color: grey;
}

.stars {
  color: red;
}

.reviews {
  display: flex;
}
